.App {
  text-align: center;
}

.navbar-nav {
  display: flex;
  width: 100%;
}

.nav-item-profile {
  margin-left: auto;
}

.nav-item-cart {
  margin-left: 0; /* ยกเลิกการใช้ margin-left: auto; */
}

.navbar-brand {
  margin-left: 15px;
}