/* ทั้งหมด */
body {
    font-family: 'Arial', sans-serif;
    margin: 0; 
    padding: 0; 
}

/* กรอบที่มีข้อมูลอยู๋ */
.profile-container {
    max-width: 850px;
    height: 676px;
    margin: 20px auto;
    border: 2px solid #121629;
    border-radius: 13px;
    background-color: #b8c1ec;
    padding: 20px; 
}

/* ปรับขนาดตัวอักษร */
.Userdetail {
    font-size: 32px;
    margin-bottom: 10px;
    position:relative;
}

/* ปรับรูปโปรไฟล์ */
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 44%;
    margin-right: 20px;
    margin-bottom: 10px;
    top: 80px;
    left: -150px;
    position:relative;
}
/*label name */
.name {
    position:relative;
    font-size: 20px;
    top: 65px;
    left: -120px;

}
/* ปรับปุ่ม change */
.changebtn {
    position: relative;
    top: 160px;
    left: -310px;
}
.editbtn{
    position: relative;
    margin-left: 100px;
}

.name-display {
        position: relative;
        top: 30px;
        left:160px;
}

/* ปรับเปลี่ยนหน้า profile payment booking */
.sidebar-container {
    position:absolute;
    left: 44.5%;
}

.name-edit-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 30px;
    left: 160px;
}

.name-edit-container label {
    margin-right: 10px;
}

.name-edit-container .temp {
    margin-right: 10px;
}
